<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>apple_Id</key>
  <string>6467094888</string>
  <key>appstore_url</key>
  <string>itms-apps://itunes.apple.com/app/print-perfectly/id6467094888</string>
  <key>imprint_urlformat</key>
  <string>https://heiko-theuner.github.io/multiply-tracker/{{language}}_imprint.html</string>
  <key>unsupported_versions</key>
  <string>[]</string>
  <key>deprecated_versions</key>
  <string>[]</string>
  <key>privacy_policy_urlformat</key>
  <string>https://heiko-theuner.github.io/multiply-tracker/{{language}}_privacyPolicy.html</string>
  <key>support_urlformat</key>
  <string>https://heiko-theuner.github.io/multiply-tracker/{{language}}_support.html</string>
</dict>
</plist>